.image-0 {
  background-image: url(https://designresources.assets.yotako.io/40599ukjcc3gjof.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.text-1 {
  color: rgba(255,255,255,.6);
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 9px;
  font-weight: 500;
  font-style: normal
}
.button-2 {
  background-color: #4bc2ff;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.25);
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.25)
}
.text-3 {
  color: #fff;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal
}
.textfield-4 {
  background-color: #fff;
  border-radius: 21px 21px
}
.textfield-value-5 {
  color: #554669;
  text-align: left;
  font-family: roboto,sans-serif;
  font-size: 26px;
  font-weight: 400;
  font-style: normal
}
.textfield-7 {
  background-color: #fff;
  border-radius: 21px 21px
}
.textfield-value-8 {
  color: #554669;
  text-align: left;
  font-family: roboto,sans-serif;
  font-size: 26px;
  font-weight: 400;
  font-style: normal
}
.container-10 {
  background-color: #fff;
  border-radius: 56px 56px
}
.text-12 {
  color: #fff;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 23px;
  font-weight: 300;
  font-style: normal
}
.listbox-13 {
  background-color: #1d224b
}
.text-15,
.text-17,
.text-19,
.text-20,
.text-23 {
  color: #a6aff1;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal
}
.image-24 {
  background-image: url(https://designresources.assets.yotako.io/40599ukjcc3gkz0.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.text-25 {
  color: #fefeff;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal
}
.container-26 {
  border-radius: 36px 36px
}
.container-26,
.container-28 {
  background-color: #fff
}
.container-29 {
  background-color: #3c464f
}
.text-30 {
  color: #3c464f;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal
}
.container-31 {
  background-color: #ffc06f;
  border-radius: 7px 7px
}
.container-32 {
  background-color: #3c464f
}
.text-33 {
  color: #3c464f;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal
}
.container-34 {
  background-color: #4dc2ff;
  border-radius: 7px 7px
}
.container-35 {
  background-color: #3c464f
}
.text-36 {
  color: #3c464f;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal
}
.container-37 {
  background-color: #5ae29d;
  border-radius: 7px 7px
}
.text-38 {
  color: #3c464f;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal
}
.container-39 {
  background-color: #3c464f
}
.container-40 {
  background-color: #d997f1;
  border-radius: 7px 7px
}
.text-41 {
  color: #8393a3;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal
}
.container-42 {
  background-color: #ff7fe5
}
.text-43,
.text-44 {
  color: #fff;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 32px;
  font-weight: 300;
  font-style: normal
}
.text-44 {
  font-size: 11px;
  font-weight: 400
}
.container-45 {
  background-color: #4dc2ff
}
.text-46,
.text-47 {
  color: #fff;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 32px;
  font-weight: 300;
  font-style: normal
}
.text-47 {
  font-size: 11px;
  font-weight: 400
}
.image-48 {
  background-image: url(https://designresources.assets.yotako.io/40599ukjcc3glr9.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.text-49,
.text-50 {
  color: #fff;
  text-align: left;
  font-family: Roboto,sans-serif;
  font-size: 23px;
  font-weight: 300;
  font-style: normal
}
.text-50 {
  color: #68d3ff;
  font-size: 11px;
  font-weight: 400
}
.button-53,
.container-51 {
  background-color: #fff;
  border-radius: 50px 50px
}
.button-53 {
  -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.2);
  border-radius: 32px 32px
}
.container-55 {
  background-color: #4e59ad
}
.button-56 {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.25);
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.25);
  border-radius: 1px 1px
}
.text-57,
.text-58,
.text-59 {
  color: #3c464f;
  text-align: center;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal
}
.text-58,
.text-59 {
  color: #fff;
  text-align: left;
  font-size: 23px;
  font-weight: 400
}
.text-59 {
  color: #c9ceff;
  text-align: center;
  font-size: 11px
}
.image-60 {
  -webkit-box-shadow: 2px 3px 3px 1px rgba(0,0,0,.07);
  box-shadow: 2px 3px 3px 1px rgba(0,0,0,.07)
}
.image-0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.container-10,
.text-12 {
  position: initial;
  margin: 103px 0 0 28.11%;
  width: 43.893%;
  z-index: 10;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 25px 0 0 34.86%;
  width: 29.77%;
  height: 16.762%;
  z-index: 8
}
.image-11,
.textfield-7 {
  position: initial;
  margin: 22px 0 0 12.82%;
  width: 75.641%;
  height: 55.555%;
  z-index: 9;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.textfield-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 65px 0 0 11.45%;
  width: 77.099%;
  height: 6.518%;
  z-index: 6
}
.image-9,
.textfield-4 {
  position: initial;
  margin: 12px 0 0 8.25%;
  width: 5.775%;
  height: 38.461%;
  z-index: 7;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.textfield-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 10px 0 0 11.45%;
  width: 77.099%;
  height: 6.59%;
  z-index: 4
}
.image-6 {
  margin: 11px 0 0 8.08%;
  width: 5.445%;
  height: 44.565%;
  z-index: 5
}
.button-2,
.image-6,
.text-1,
.text-3 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  height: 8.524%;
  margin: 40px 0 0 11.45%;
  width: 77.099%;
  z-index: 2
}
.text-1,
.text-3 {
  margin: 22px 0 0 42.07%;
  width: 16.006%;
  z-index: 3
}
.text-1 {
  margin: 34px 0 0 34.98%;
  width: 30.152%;
  z-index: 1
}
.listbox-13 {
  display: list-item;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.artwork-menu-listbox-0-image-5-row-0,
.image-24 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-24 {
  z-index: 11;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 31.375%
}
.artwork-menu-listbox-0-image-5-row-0 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 117px 0 0 5.59%;
  width: 34.434%;
  height: 34.474%
}
.container-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 55.719%;
  height: 100%;
  z-index: 13
}
.container-26,
.image-27,
.text-25 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-27 {
  height: 51.655%;
  margin: 17px 0 0 15.23%;
  width: 70.198%;
  z-index: 14
}
.text-25 {
  margin: 26px 0 0 8.85%;
  width: 35.424%;
  z-index: 12
}
.artwork-menu-listbox-0-row-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 34px 0 0 5.84%;
  width: 29.224%;
  height: 2.578%
}
.artwork-menu-listbox-0-row-1,
.image-22,
.text-23 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-22 {
  height: 100%;
  width: 15.217%;
  z-index: 9
}
.text-23 {
  margin: 0 0 0 12.6%;
  width: 72.173%;
  z-index: 10
}
.artwork-menu-listbox-0-row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 39px 0 0 5.84%;
  width: 22.998%;
  height: 2.507%
}
.artwork-menu-listbox-0-row-2,
.image-21,
.text-20 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-21 {
  height: 62.857%;
  width: 19.337%;
  z-index: 8
}
.text-20 {
  margin: 0 0 0 16.02%;
  width: 64.64%;
  z-index: 7
}
.artwork-menu-listbox-0-row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 35px 0 0 5.84%;
  width: 19.567%;
  height: 2.507%
}
.artwork-menu-listbox-0-row-3,
.image-18,
.text-19 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-18 {
  height: 100%;
  width: 22.727%;
  z-index: 5
}
.text-19 {
  margin: 0 0 0 18.18%;
  width: 59.09%;
  z-index: 6
}
.artwork-menu-listbox-0-row-4 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 37px 0 0 5.84%;
  width: 41.931%;
  height: 2.578%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-16 {
  position: initial;
  width: 10.606%;
  height: 100%;
  z-index: 3;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.text-17 {
  position: relative;
  margin: 0 0 0 8.78%;
  width: 80.606%;
  z-index: 4;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artwork-menu-listbox-0-row-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 38px 0 0 6.22%;
  width: 21.601%;
  height: 2.507%
}
.artwork-menu-listbox-0-row-5,
.image-14,
.text-15 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-14 {
  height: 100%;
  width: 18.235%;
  z-index: 1
}
.text-15 {
  margin: 0 0 0 19.41%;
  width: 62.352%;
  z-index: 2
}
.container-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.artwork-profile-container-0-image-0-row-0,
.image-48 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-48 {
  z-index: 20;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 99.745%;
  height: 37.034%
}
.artwork-profile-container-0-image-0-row-0 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 103px 0 0 5.47%;
  width: 54.904%;
  height: 40.038%
}
.container-51,
.image-52 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-51 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 48.027%;
  height: 100%;
  z-index: 23
}
.image-52 {
  margin: 21px 0 0 13.52%;
  width: 74.879%;
  height: 55.072%;
  z-index: 24
}
.artwork-profile-container-0-image-0-row-0-column-1 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 28px 0 0 10.2%;
  width: 41.531%;
  height: 43.961%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.text-49,
.text-50 {
  position: initial;
  width: 60.335%;
  z-index: 21;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.text-50 {
  margin: 11px 0 0;
  width: 100%;
  z-index: 22
}
.button-53 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  margin: 13px 0 0 41.65%;
  width: 17.07%;
  height: 25.918%;
  z-index: 25;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-54 {
  position: initial;
  margin: 24px 0 0 37.31%;
  width: 25.373%;
  height: 24.626%;
  z-index: 26;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artwork-profile-container-0-row-1,
.container-45 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.artwork-profile-container-0-row-1 {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 17.908%
}
.container-45 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50.317%;
  height: 100%;
  z-index: 17
}
.text-46 {
  margin: 35px 0 0 40.9%;
  width: 17.929%;
  z-index: 18
}
.container-42,
.text-46,
.text-47 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.text-47 {
  margin: 10px 0 0 26.76%;
  width: 46.969%;
  z-index: 19
}
.container-42 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  width: 50.317%;
  height: 100%;
  z-index: 14
}
.text-41,
.text-43,
.text-44 {
  position: initial;
  margin: 35px 0 0 41.41%;
  width: 18.939%;
  z-index: 15;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.text-41,
.text-44 {
  margin: 10px 0 0 26.76%;
  width: 48.989%;
  z-index: 16
}
.text-41 {
  margin: 41px 0 0 5.59%;
  width: 11.689%;
  z-index: 13
}
.artwork-profile-container-0-row-3 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 28px 0 0 5.71%;
  width: 71.537%;
  height: 2.507%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-40 {
  position: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 5.15%;
  height: 82.857%;
  z-index: 12;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-39,
.text-38 {
  position: initial;
  margin: 0 0 0 7.81%;
  width: 77.797%;
  z-index: 10;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-39 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 4px 0 0 3.73%;
  width: 5.506%;
  height: 51.428%;
  z-index: 11
}
.artwork-profile-container-0-row-4 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 37px 0 0 5.84%;
  width: 62.134%;
  height: 2.507%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-37 {
  position: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 5.93%;
  height: 82.857%;
  z-index: 9;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-35,
.text-36 {
  position: initial;
  margin: 0 0 0 8.79%;
  width: 74.846%;
  z-index: 8;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-35 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 4px 0 0 4.29%;
  width: 6.134%;
  height: 51.428%;
  z-index: 7
}
.artwork-profile-container-0-row-5 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 39px 0 0 5.84%;
  width: 52.604%;
  height: 2.507%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-34 {
  position: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1px 0 0;
  width: 7.246%;
  height: 85.714%;
  z-index: 6;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-32,
.text-33 {
  position: initial;
  margin: 0 0 0 9.66%;
  width: 70.048%;
  z-index: 5;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-32 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 4px 0 0 5.55%;
  width: 7.487%;
  height: 54.285%;
  z-index: 4
}
.artwork-profile-container-0-row-6 {
  position: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
  margin: 38px 0 0 5.71%;
  width: 61.118%;
  height: 2.507%;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-31,
.text-30 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-31 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 85.714%;
  width: 6.237%;
  z-index: 3
}
.text-30 {
  margin: 0 0 0 8.52%;
  width: 74.012%;
  z-index: 2
}
.container-29,
.container-55 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.container-29 {
  position: initial;
  margin: 4px 0 0 4.78%;
  width: 6.444%;
  height: 54.285%;
  z-index: 1
}
.container-55 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial
}
.image-60,
.text-58 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.image-60 {
  height: 15.902%;
  margin: 164px 0 0 35.83%;
  width: 28.335%;
  z-index: 5
}
.text-58 {
  margin: 49px 0 0 14.61%;
  width: 71.918%;
  z-index: 3
}
.text-59 {
  margin: 28px 0 0 10.29%;
  width: 79.669%;
  z-index: 4
}
.button-56,
.text-57,
.text-59 {
  position: initial;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.button-56 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  height: 8.595%;
  margin: 147px 0 0 11.43%;
  width: 77.636%;
  z-index: 1
}
.text-57 {
  margin: 22px 0 0 29.45%;
  width: 40.589%;
  z-index: 2
}